#webgl {
    background-color: #5D6D7E;
    -webkit-user-select: none;
}

.mTitle {
    padding-top: 20px;
    padding-left: 40%;
    margin-bottom: 0 !important;
}

.tips {
    color: red;
}

.summary {
    margin: 10px;
}